* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url("/images/pageBackground.jpg");
  background-origin: border-box;
}

.game-name {
  text-align: center;
  color: rgba(148, 43, 226);
  font-size: 60px;
  font-style: oblique;

  font-weight: 800;
  text-shadow: 3px 3px 3px rgb(133, 136, 241);
}

.computer-number {
  text-align: center;
}
.question-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

.stat-board {
  display: grid;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  margin-top: 50px;
  width:;
}
#round,
#current-score,
#total-score {
  padding: 20px;
}
input {
  display: grid;
}

.user-input {
  margin-bottom:;
  margin-left: 50px;
}
